html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto; //left = up/dow     |     right = right/left
    padding: 0 8px;
}

// background home
.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #0c2135), url("../assets/img/bg.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

// hero
.hero {
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 44px;
    }

    p {
        text-align: center;
        margin: 14px 0;

    }
}

.button-contact {
    padding: 14px 28px;
    color: $white-normal;
    background-color: $orange-bylogo;
    border: 0;
    border-color: $white-normal;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 420;
    margin: 14px 0;
}

.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 24px;
            padding: 0 14px;
            width: 100%;
        }

        p {
            font-size: 14px;
        }

    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 21px;
    }
}

//about
.about {
    padding-top: 5rem;
    background-color: $primary-light;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 14px;
    padding: 34px 12px 64px 14px;

    img {
        max-width: 400px;
    }
}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 14px;
        line-height: 150%;
    }
}

.barber-about {
    display: flex;
    gap: 24px;
    flex-direction: row;
    padding-left: 1rem;
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .barber-about {
        flex-direction: column;
    }
}

// services
.services {
    background-color: $white-normal;
    color: $primary-dark;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 700px;
}

.haircuts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 44px 33px 44px
}

/*.haircut {
    flex: 1;
    flex-direction: column;
    display: flex;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    max-width: 300px;

    img {
        width: 100%;
        max-width: 355px;
        transition: transform 0.3s;
    }
}

.haircut img:hover {
    transform: scale(1.2);
    z-index: 1;
}*/

.haircut-info {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    background-color: $white-normal;
    z-index: 2;
    gap: 10px;
}

.haircut-info button {
    color: $white-normal;
    background-color: $orange-bylogo;
    padding: 4px 8px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 33.333%;
    padding: 14px 40px 0 40px;
    //flex: 0 0 auto;
    max-height: 400px;
    
    img {
        min-width: 33.333%;
        flex: 0 0 auto;
        height: 200px;
        object-fit: cover;
    }
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

@media screen and (max-width: 768px) {
    .slide {
        min-width: 100%;
        /* Full width on mobile */
    }
}

//carrosel
/*.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;

    .carousel-container {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .haircuts {
        display: flex;
        gap: 15px;
        padding: 0 44px;
        justify-content: center;
        align-items: center;
    }

    .prev-btn,
    .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        padding: 10px;
    }

    .prev-btn {
        left: 10px;
    }

    .next-btn {
        right: 10px;
    }

    @media screen and (max-width: 768px) {
        .haircuts {
            padding: 0; // Remover o preenchimento horizontal em dispositivos móveis
            overflow-x: auto; // Adicionar rolagem horizontal em dispositivos móveis
            -webkit-overflow-scrolling: touch; // Ativar rolagem suave no iOS
            scroll-snap-type: x mandatory; // Forçar rolagem suave entre os slides
            -ms-overflow-style: none; // Remover barra de rolagem no Internet Explorer
            scrollbar-width: none; // Remover barra de rolagem no Firefox
            &::-webkit-scrollbar {
                display: none; // Remover barra de rolagem no Chrome/Safari
            }
        }
    }
}
*/
//carrosel

@media screen and (max-width: 768px) {
    .haircuts {
        flex-direction: column;
    }

    .haircut img {
        max-width: 730px;
    }
}

// differential
.differential {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 54px 14px;
    background-color: $primary-light;
    color: $white-normal;

    h2 {
        font-size: 38px;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 14px;
        line-height: 150%;
    }
}

.differential-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 34px 12px 64px 14px;
}

.recurrence-plan {
    display: flex;
    flex-direction: column;
    align-self: flex-start; // align with another div
    text-align: center;

    p {
        max-width: 700px;
    }

    h2 {
        padding-bottom: 24px;
        color: $orange-bylogo;
    }
}

.button-contact2 {
    padding-top: 3rem;
}

.differential-topics {
    display: flex;
    flex-direction: column;

    .topic {
        display: flex;
        font-size: 16px;
        margin-bottom: 14px;
        max-width: 700px;
        font-weight: 400;
    }

    h2 {
        padding-bottom: 24px;
        text-align: center;
        color: $orange-bylogo;
    }
}

.fa-solid {
    color: $orange-bylogo;
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .differential-content {
        flex-direction: column;
        gap: 5rem;
    }

    .differential-title {
        display: none;
    }
}

// whatsapp button

.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 3;

    img {
        max-width: 70px;
        transition: transform 0.4s;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.btn-whatsapp-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    background-color: $primary-dark;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.4s;
}

.btn-whatsapp:hover .btn-whatsapp-text {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .btn-whatsapp {
        img {
            max-width: 64px;
        }
    }
}