@import "../partials/color";
@import "../partials/header";
@import "../partials/layout";
@import "../partials/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Sora', sans-serif;
}

body {
    width: 100%;
    height: 100vh; //view height
    position: relative;
    background-color: $primary-light;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}
